$black: #29292e;
$shadow: #050206;

$white: #fefefe;
$white-bg: #f8f8f8;

$gray-lighter: #e2e2e2;
$gray-light: #dbdcdd;
$gray-light-hover: #cecece;

$gray-medium: #a8a8b3;
$gray-medium-hover: #7e7e86;

$gray-dark: #737380;

$purple: #4568dc;
$purple-hover: #00b4db;

$red: #ea4335;

$danger: #e73f5d;
$danger-hover: #d73754;

$pink-dark: #00b4db;

$linear: linear-gradient(to right, #4568dc, #00b4db);
