$black: #29292E;
$shadow: #050206;

$white: #FEFEFE;
$white-bg: #F8F8F8;

$gray-light: #DBDCDD;
$gray-light-hover: #CECECE;

$gray-medium: #A8A8B3;
$gray-medium-hover: #7E7E86;

$gray-dark: #737380;

$purple: #835AFD;
$purple-hover: #6F4BD8;

$red: #EA4335;

$danger: #E73F5D;
$danger-hover: #D73754;

$pink-dark: #E559F9;
$pink-light: #D67EE2;

$linear: linear-gradient(to right, #485BFF, #FF59F8);