@import "var";

.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background-color: $purple;
  color: white;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;

  transition: background-color 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background-color: #fff;
    border: 1px solid $purple;
    color: $purple;
  }

  &:not(:disabled):hover {
    background-color: $purple-hover;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
