@import "var";

.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background-color: #fff;
  border: 1px solid $purple;
  cursor: pointer;

  display: flex;
  align-items: stretch;

  div {
    background-color: $purple;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}
